/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* #CE4BF2 */
/* #3264A6 */
/* https://neumorphism.io/#e0e0e */
/* Content Wrap
###########################################################################  */
.content-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ccc; }
  .content-wrap :nth-child(even) {
    background-color: #eee; }

/* Card
###########################################################################  */
.card {
  display: flex;
  overflow: hidden;
  width: clamp(300px, 50%, 800px);
  flex: 1 0 10em;
  flex-direction: column;
  background-color: #fff;
  border-radius: calc($bfs * 2);
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1), -20px -20px 60px rgba(255, 255, 255, 0.1);
  transition: flex-basis 500ms ease-in-out; }
  .card figcaption {
    padding: calc($bfs * 2.5) calc($bfs * 1) calc($bfs * 3.15) calc($bfs * 2); }
  .card p {
    font-weight: 700; }
  .card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: display 500ms ease-in-out; }
  .card blockquote p {
    margin-right: calc($bfs * 1.25);
    margin-left: calc($bfs * 1.25); }
  .card:hover {
    flex-basis: 20em; }

.overview {
  display: flex;
  flex-direction: row; }

* {
  /* TODO: Zeigen */
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  color: #111;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: calc($bfs * 2);
  font-weight: 400;
  hyphens: auto;
  line-height: 140%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #888;
  font-weight: bold;
  hyphens: none; }

h1 {
  padding-top: calc($bfs * 5);
  padding-bottom: calc($bfs * 5);
  padding-left: calc($bfs * 2);
  color: #888;
  font-size: calc($bfs * 5);
  line-height: 110%; }

h2 {
  padding-top: calc($bfs * 2);
  margin-bottom: calc($bfs * 4);
  color: #f26d3d;
  font-size: calc($bfs * 4);
  line-height: 110%; }

h3 {
  padding-top: calc($bfs * 3.15);
  margin-bottom: calc($bfs * 3.15);
  font-size: calc($bfs * 3.15);
  font-weight: normal; }

img {
  width: 100%; }

/* Meta Infos
###########################################################################  */
.info-list {
  padding-top: calc($bfs * 2.5);
  padding-bottom: calc($bfs * 3.15); }
  .info-list::after {
    display: none;
    clear: both;
    content: '.'; }
  .info-list dt {
    margin-right: calc($bfs * 1);
    float: left;
    font-weight: 700; }
    .info-list dt::after {
      content: ':'; }

/* Intro Text
###########################################################################  */
.intro-text {
  width: 100%;
  max-width: calc($l * 40);
  padding: calc($bfs * 2);
  font-size: calc($bfs * 2.5);
  line-height: 140%; }

/* Additional Infos
###########################################################################  */
.additional-infos {
  display: none; }

/*# sourceMappingURL=main.css.map */