/* Meta Infos
###########################################################################  */

.info-list {
  padding-top: $l;
  padding-bottom: $xl;
}

.info-list::after {
  display: none;
  clear: both;
  content: '.';
}

.info-list dt {
  margin-right: $xxs;
  float: left;
  font-weight: $fw-bold;
}

.info-list dt::after {
  content: ':';
}

/* Intro Text
###########################################################################  */

.intro-text {
  width: 100%;
  max-width: calc($l * 40);
  padding: $m;
  font-size: $l;
  line-height: $lh-normal;
}

/* Additional Infos
###########################################################################  */

.additional-infos {
  display: none;
}
