/* Content Wrap
###########################################################################  */

.content-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
}

.content-wrap:nth-child(even) {
  background-color: var(--lighter);
}

/* Card
###########################################################################  */

.card {
  display: flex;
  overflow: hidden;
  width: clamp(300px, 50%, 800px);
  flex-direction: column;
  background-color: var(--lightest);
  border-radius: var(--radius-m);
  box-shadow: var(--n-shadow-l);
}

.card > p {
  font-weight: var(--fw-bold);
}

.card blockquote p {
  margin-right: var(--xs);
  margin-left: var(--xs);
}

.card figcaption {
  padding: var(--l) var(--xxs) var(--xl) var(--m);
}

.overview {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
