/* Content Wrap
###########################################################################  */

.content-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $light;

  :nth-child(even) {
    background-color: $lighter;
  }
}

/* Card
###########################################################################  */

.card {
  display: flex;
  overflow: hidden;
  width: clamp(300px, 50%, 800px);
  flex-direction: column;
  background-color: $lightest;
  border-radius: $radius-m;
  box-shadow: $n-shadow-l;

  figcaption {
    padding: $l $xxs $xl $m;
  }

  p {
    font-weight: $fw-bold;
  }

  blockquote {
    p {
      margin: {
        right: $xs;
        left: $xs;
      }
    }
  }
}

.overview {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
