$bfs: 0.5rem;
$xxs: calc($bfs * 1);
$xs: calc($bfs * 1.25);
$s: calc($bfs * 1.6);
$m: calc($bfs * 2);
$l: calc($bfs * 2.5);
$xl: calc($bfs * 3.15);
$xxl: calc($bfs * 4);
$xxxl: calc($bfs * 5);
$xxxxl: calc($bfs * 6.3);
$light: #ccc;
$lighter: #eee;
$lightest: #fff;
$dark: #888;
$darker: #111;
$darkest: #000;
$darken: rgba(0, 0, 0, 0.2);
$color-text: $darker;
$color-headline: $dark;
$color-accent: #f26d3d; /* #CE4BF2 */
$color-decoration: #3264a6; /* #3264A6 */
$ff-normal: 'IBM Plex Sans', sans-serif;
$ff-serif: 'IBM Plex Serif', serif;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$lh-normal: 140%;
$lh-tight: 110%;
$lh-loose: 150%;
$tr-fast: 0.3s;
$shadow-l: 0 0 10px rgba(0, 0, 0, 0.5);
$n-shadow-l:
  20px 20px 60px rgba(0, 0, 0, 0.1),
  -20px -20px 60px rgba(255, 255, 255, 0.1); /* https://neumorphism.io/#e0e0e */

$border-width-s: 1px;
$border-width-m: 3px;
$radius-m: $m;
